<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> | 
       
       <a href="/logout">Logout</a> 
         
	   {% if session.user_id %}
	   	User with ID {{ session.user_id }} is logged in.
	   {% else %}
	   	 <a href="/login">Login</a>
       	 <a href="/signup/new">Sign up</a>
	   {% endif %}
    </nav>
    {% block body %}
    {% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
     
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    
    {% block footer %}
    {% endblock %}
</body>
</html>